body {
  margin: 0;
  text-align: center;
}
p {
  letter-spacing: 0.1em;
  font-size: large;
  font-weight: light;
}
h1 {
  margin-top: 0;
  position: relative;
  top: 40px;
  color: #66bfbf;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
  font-size: 350%;
}
h2 {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.1em;
  color: #66bfbf;
  font-weight: bolder;
  line-height: 2;
  font-size: 200%;
}
h3 {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.1em;
  color: #11999e;
}
a {
  color: #11999e;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.1em;
  font-weight: heavy;
  text-decoration: none;
}
.top-container {
  background-color: #e8ffff;
  position: relative;
  padding-top: 100px;
}
hr {
  color: #eaf6f6;
  border: none;
  border-top: dotted;
  width: 10%;
  border-width: 8px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 60px;
}
.profile-photo {
  width: 25%;
}
.skill1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.bottom-container {
  background-color: #66bfbf;
  position: relative;
  top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
}
.footer-text {
  color: #eaf6f6;
  padding-top: 10px;
  font-weight: bold;
}
.footer-link {
  position: relative;
  top: 10px;
  margin: 0 20px;
  font-weight: bold;
}
.contact-me {
  width: 50%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 40px;
}
.btn {
  background-color: #11999e;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin: 20px auto 0;
}
.btn:hover {
  background-color: teal;
  transition: 0.1s ease-in-out;
}
.profile {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 90px;
}
.skills {
  margin-top: 90px;
  margin-bottom: 90px;
}
